body { height:100%; margin: 0px; padding: 0px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; }
p {margin:2px;}

.tdTrombi{ /* élément du tableau trombinoscope */
	width:170px;
	text-align:center;
}

.frameLoad{ /* frame pour le retour du file input */
	visibility:hidden;
	height:0px;
	width:0px;
}

.cadreAlerte{
	position:absolute;
	left:100px;
	top:50px;
}