body { height:100%; margin: 0px; padding: 0px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; }
p {margin:2px;}

.tdTrombi{ /* élément du tableau trombinoscope */
	width:160px;
	text-align:center;
}

.upImg{
	width: 100%;
	height:auto;
}

.imgTrombi{
	width:150px;
	height:200px;
}

.frameLoad{ /* frame pour le retour du file input */
	visibility:hidden;
	height:0px;
	width:0px;
}

.cadreAlerte{
	position:absolute;
	left:100px;
	top:50px;
}

.sug{/* pour l'affichage des personnes non encore validées */
	background-color: #f2dede;
}

.nonVL{ /* pour l'affichage des personnes qui ont choisi de ne pas être visibles en ligne */
	background-color: #fcf8e3;
}

.filtres{
	margin-bottom:10px;
}