<?php
$dns = 'mysql:host=localhost;dbname=';
$utilisateur = '';
$motDePasse = '';
$prefixeDB = '';

// Connection au serveur mySQL
try {
  // Options de connection
  $options = array(
    PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES utf8",
    PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION
  );
  $connexion = new PDO( $dns, $utilisateur, $motDePasse, $options );
} catch ( Exception $e ) {
  die('({status:"failed",error:$e->getMessage()})');
}
?>
